/* Convert container divs into flex containers */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.container div {
    flex: 1 1 auto;
    aspect-ratio: 1/1;
    border: 5px solid red;
}

.hover-active {
    background-color: black;
}