/* Convert container divs into flex containers */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

h1 {
    margin: 0;
}

.grid-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

.container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.container div {
    flex: 1 1 auto;
    border: 1px solid black;
}

.button-container {
    max-width: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-container button {
    border: none;
    color: #ffffff;
    background-color: black;
}
